function Main.main 2
push local 0
push constant 160
push constant 32
push constant 16
push constant 12
call Drawer.drawGrid 5
pop temp 0
push local 1
call GameRunner.new 1
pop local 1
push local 1
call GameRunner.run 1
pop temp 0
push constant 0
return
